<header class="header">
  <div class="container">
    <div class="row header__wrapper">
      <div class="col-3">
        <div  class="logo header__logo">
          <a href="/templet/dist/" class="logo__link">Templet</a>
        </div>
      </div>
      <div class="col-9">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="/templet/dist/" class="nav__link">Главная</a>
            </li>
            <li class="nav__item">
              <a href="/templet/dist/products.html" class="nav__link">Продукция</a>
            </li>
            <li class="nav__item">
              <a href="/templet/dist/advantages.html" class="nav__link">Преимущества</a>
            </li>
            <li class="nav__item">
              <a href="/templet/dist/contacts.html" class="nav__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <button class="burger btn-reset">
          <span></span><span></span><span></span>
        </button>
      </div>
    </div>
  </div>
</header>
<nav class="hide-menu">
  <div  class="logo header__logo">
    <a href="/templet/dist/" class="logo__link">Templet</a>
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a href="/templet/dist/" class="nav__link">Главная</a>
    </li>
    <li class="nav__item">
      <a href="/templet/dist/products.html" class="nav__link">Продукция</a>
    </li>
    <li class="nav__item">
      <a href="/templet/dist/advantages.html" class="nav__link">Преимущества</a>
    </li>
    <li class="nav__item">
      <a href="/templet/dist/contacts.html" class="nav__link">Контакты</a>
    </li>
  </ul>
  <button class="btn-reset close">
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="3.53657" width="5" height="30" rx="2.5" transform="rotate(-45 0 3.53657)" fill="black"/>
      <rect x="3.53662" y="24.7487" width="5" height="30" rx="2.5" transform="rotate(-135 3.53662 24.7487)" fill="black"/>
    </svg>
  </button>

</nav>
